.root {
    -fx-background-color: #FAEBD7;
}
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #00008B;
}

.button {
    -fx-background-color: #00008B;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
}

.text-field, .text-area {
    -fx-background-color: #ffffff;
    -fx-text-fill: #A52A2A;
    -fx-border-color: #BDB76B;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}
